div.PlayerBullet {
  position: absolute;

  color: #ccc;
  background-image: url('../../../resources/M484BulletCollection1.png');
  background-repeat: no-repeat;
  background-size: 520px 361px;
  background-position: -248px -50px;
  image-rendering: pixelated;
  transform: rotate(-90deg);
}