div.SpaceShip {
  position: absolute;
  
  color: #ccc;
  background-image: url('../../resources/16ShipCollection.png');
  background-repeat: no-repeat;
  background-size: 4000px 2480px;
  background-position: -1312px -808px;
  image-rendering: pixelated;
  rotate: -90deg;
}